/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --primary-title-color: #ffffff;
  --accent-color: #2196f3;
  --second-logo-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --fone-color: #f5f4fa;
  --fone-color-black: #2f303a;
  --border-header: #ececec;
  --border-portfolio: #eeeeee;
  --icon-color: #afb1b8;
  --footer-address: rgba(255, 255, 255, 0.6);
  --button-hover: #188ce8;
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v29-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v29-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-500.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v29-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v29-latin_cyrillic-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v29-latin_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v29-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v29-latin_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v29-latin_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v29-latin_cyrillic-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v22-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v22-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v22-latin-700.woff2") format("woff2"), url("../fonts/raleway-v22-latin-700.woff") format("woff"), url("../fonts/raleway-v22-latin-700.ttf") format("truetype"), url("../fonts/raleway-v22-latin-700.svg#Raleway") format("svg");
  /* Legacy iOS */
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

body {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--primary-title-color);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

li,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

input {
  margin: 0;
  padding: 0;
}

label {
  margin: 0;
  padding: 0;
}

.logo {
  display: block;
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo--current {
  color: var(--accent-color);
}

.header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  border-bottom: solid 1px var(--border-header);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.site-nav__link--current::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  bottom: -1px;
  right: 0;
  background-color: var(--accent-color);
  border-radius: 3px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts__item {
  margin-right: 50px;
}

.contacts__item:last-child {
  margin-right: 0;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  /* background-color: var(--fone-color-black);*/
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  min-height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero__button {
  padding: 10px, 32px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.hero__button:hover, .hero__button:focus {
  background-color: var(--button-hover);
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

.section__title--hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background-color: var(--fone-color);
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  width: 270px;
  margin-right: 30px;
}

.features__item:last-child {
  margin-right: 0;
}

.features__icon {
  width: 70px;
  height: 70px;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.section--padding {
  padding-top: 0;
}

.works {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.works__item {
  padding: 0;
  margin: 0;
  margin-left: 30px;
}

.works__item:first-child {
  margin-left: 0;
}

.works__thumb {
  position: relative;
}

.works__text {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-title-color);
  background: rgba(47, 48, 58, 0.8);
}

.section--background {
  background-color: var(--fone-color);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  margin-left: 30px;
  width: 270px;
  text-align: center;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:first-child {
  margin-left: 0;
}

.team__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-title-color);
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: var(--title-color);
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.network-list--team {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 16px;
}

.network-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.network-list__item {
  margin-right: 10px;
}

.network-list__item:last-child {
  margin-right: 0px;
}

.network-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.network-list__link:hover, .network-list__link:focus {
  background-color: var(--accent-color);
}

.network-list__icon {
  height: 20px;
  width: 20px;
  fill: var(--icon-color);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.network-list__link:hover .network-list__icon,
.network-list__link:focus .network-list__icon {
  fill: var(--primary-title-color);
}

.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients-list__item {
  margin-right: 30px;
}

.clients-list__item:last-child {
  margin-right: 0;
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 92px;
  width: 170px;
  border: solid 1px var(--icon-color);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.clients-list__link:hover, .clients-list__link:focus {
  border: solid 1px var(--accent-color);
}

.clients-list__icon {
  fill: var(--icon-color);
  height: 60px;
  width: 106px;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--fone-color-black);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__parts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__address {
  margin-right: 70px;
}

.footer__logo {
  color: var(--primary-title-color);
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
}

.address {
  margin-top: 10px;
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__text {
  color: var(--primary-title-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address__link {
  color: var(--footer-address);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.footer__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.network-list__link--color {
  background-color: rgba(255, 255, 255, 0.1);
}

.network-list__icon--fill {
  fill: var(--primary-title-color);
}

.footer__form {
  margin-left: auto;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__input {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
}

.form__icon {
  height: 24px;
  width: 24px;
  margin-left: 10px;
  fill: var(--primary-title-color);
}

.filtr {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filtr__item {
  margin-right: 8px;
}

.filtr__item:last-child {
  margin-right: 0;
}

.filtr__button {
  background-color: --fone-color;
  color: --title-color;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  -webkit-transition-property: background-color box-shadow;
  transition-property: background-color box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.filtr__button:hover, .filtr__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-title-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio__item {
  width: 370px;
  margin-left: 30px;
  margin-top: 30px;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
}

.portfolio__link {
  display: block;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.portfolio__link:hover .overlay,
.portfolio__link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.portfolio__div {
  border: solid 1px var(--border-portfolio);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.portfolio__title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: visible;
}

.modal {
  display: block;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  min-height: 581px;
  min-width: 528px;
  background-color: var(--primary-title-color);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.backdrop--hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
}

.modal__button {
  margin-top: 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.88;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition-property: cursor;
  transition-property: cursor;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.modal__button:hover, .modal__button:focus {
  cursor: pointer;
}

.close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: var(--primary-title-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
}

.close-button__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  fill: var(--second-logo-color);
  -webkit-transition-property: fill cursor;
  transition-property: fill cursor;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.close-button__icon:hover, .close-button__icon:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
}

.form-modal {
  display: block;
}

.label {
  position: relative;
  display: block;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.label__input {
  width: 100%;
  margin-top: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  padding-left: 42px;
  -webkit-transition-property: fill border-color;
  transition-property: fill border-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.label__input:hover, .label__input:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.label__textarea {
  display: block;
  resize: none;
  padding: 12px 16px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.label__textarea:hover, .label__textarea:focus {
  border-color: var(--accent-color);
  cursor: pointer;
}

.label__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: var(--second-logo-color);
}

.label__input:hover + .label__icon,
.label__input:focus + .label__icon {
  fill: var(--accent-color);
}

.label--txt {
  display: block;
  position: relative;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

.checkbox__input {
  /*
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;*/
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox__input:checked {
  -webkit-transition-property: background-color background-image;
  transition-property: background-color background-image;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
  border: transparent;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 8.38px;
}

.checkbox__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--text-color);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.checkbox__label--current {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}
/*# sourceMappingURL=main.css.map */