.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  @include animation($property: opacity);
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: visible;
  }
}

.modal {
  display: block;
  max-width: 450px;
  padding: 40px;
  position: absolute;
  @media screen and (min-width: 768px) {
    width: 450px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    @include animation($property: transform);
  }
  @media screen and (min-width: 1200px) {
    min-width: 528px;
  }
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  background-color: var(--primary-title-color);
  .backdrop.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}
.modal__button {
  margin-top: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  line-height: 1.88;
  margin-left: auto;
  margin-right: auto;
  @include animation($property: cursor);

  &:hover,
  &:focus {
    cursor: pointer;
  }
}
