body {
  font-family: var(--main-font);
  color: var(--text-color);
  background-color: var(--primary-title-color);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
li,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}
input {
  margin: 0;
  padding: 0;
}
label {
  margin: 0;
  padding: 0;
}
