:root {
  --primary-title-color: #ffffff;
  --accent-color: #2196f3;
  --second-logo-color: #000000;
  --title-color: #212121;
  --text-color: #757575;
  --fone-color: #f5f4fa;
  --fone-color-black: #2f303a;
  --border-header: #ececec;
  --border-portfolio: #eeeeee;
  --icon-color: #afb1b8;
  --footer-address: rgba(255, 255, 255, 0.6);
  --button-hover: #188ce8;
  --main-font: Roboto, sans-serif;
  --logo-font: Raleway, sans-serif;
  --mobile: 480px;
  --tablet: 768px;
  --desktop: 1200px;
}
